
@font-face {
    font-family: 'Norse Bold';
    src: url("assets/Norse-Bold.otf") format("opentype");
}

body {
    font-family: sans-serif;
    display:flex;
    margin: 0px;
    height:100%;

}

.vert-hero{
    display:flex;
    flex-direction: column;
    background-image :url("images/main.jpg");
    background-size: cover;
    width:30%;
    min-width:200px;
    height:100vh;


}
.vert-logo{
    justify-content: center;
    margin-top:30%;
    width:100%;
    height:200px;
    background-color: rgba(0, 0, 0, 0.384);
    display:flex;
    align-items: center;
    color:white;
    flex-wrap: wrap;
    font-family: "Norse Bold";
    margin-botom:auto;
    
       
}

.credit{
    margin-top:auto;
    color:white;
    display:flex;
    justify-content: center;
}
.form-main{
    display:flex;
    width:70%;

    flex-direction: column;

}

.container{
    display:flex;
    flex-wrap: wrap;

}

.columns{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:40px;
    flex-wrap: wrap;
}

.logo{
    max-width:100px;
    height:auto;
}

.instructions{
    padding-top: 200px;
    background-color:rgba(0, 0, 0, 0.027);
    font-size:24px;
    padding-left: 35px;
    padding-right: 135px;
    font-weight: 900;
    padding-bottom:40px;
}

.form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:35px;
    box-shadow: 0 5px 5px 4px rgb(0 0 0 / 10%);

}

.formLayout{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
}

.formFields{
    min-width:400px;


}

label{
    text-transform:uppercase;
    font-size: 13px;
}

input[type=text]{
    min-width:300px;
    border-style: solid;
    border-color: rgba(121, 119, 119, 0.233);
    border-width: 1px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0px rgb(0 0 0 / 10%);
    height:30px;

}

input[type=text]:focus{
    border-color: rgb(1, 1, 241);
    outline: none;

}

.submit{
    padding: 50px;
}
button{
    background-color: #596D48;
    padding:10px 45px 10px 45px;
    border-radius: 10px;
    color:white;
    font-size: 20px;
    font-weight: 900;
    border-style: solid;


}
